body {
	background-color: #555;
	text-align: center;
	margin-top: 30px;
}

#phaser {
	width: 960px;
	height: 576px;
	display: inline-block;
	box-shadow: 2px 2px 6px #2A2A2A;
	background-color: black;
}

#phaser-form {
	display: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: absolute;
}

#legend {
	font: 13px Arial, sans-serif;
	color: #BBB;
}

#legend a {
	color: #EEE;
}
